<div class="container" style="margin-top: 100px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Language</th>
        <!-- <th scope="col">Category</th>
        <th scope="col">Type</th>
        <th scope="col">ISBN</th> -->
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td><button class="btn btn-link" [routerLink]="['/item-edit', item.id]">{{item.title}}</button></td>
        <td>{{item.author}}</td>
        <td>{{item.publisher}}</td>
        <td>{{item.language}}</td>
        <!-- <td>{{item.category}}</td>
        <td>{{item.type}}</td>
        <td>{{item.isbn}}</td> -->
        <td>{{item.price}}</td>
      </tr>
    </tbody>
  </table>
</div>